# Output
/analysis/data
/analysis/data/*
/analysis/figures
/analysis/figures/*
/analysis/submission
/analysis/submission/*
/analysis/zenodo
/analysis/zenodo/*
/analysis/gutaker2020_cache
/analysis/gutaker2020_cache/*
# Zenodo
/Zenodo
/Zenodo/*
# Tar archives for Zenodo
*.tar.gz
# Mac trash files
.DS_Store
*/.DS_Store
# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# RStudio files
.Rproj.user/
.Rproj.user
